<ion-header>
  <ion-toolbar>
    <ion-title>Calcule seu IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label class="label-campos" position="floating" clearInput value="clear me">Peso</ion-label>
        <ion-input min = '0' type='number' [(ngModel)]='DadosIMC.peso'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="label-campos" position="floating">Altura</ion-label>
        <ion-input min = '0' type='number' [(ngModel)]='DadosIMC.altura'></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-fab-button mode =  'ios' (click)="calcularImc()">
        Calcular
      </ion-fab-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-item class="resultados">
    <ion-label id='ValorImc'></ion-label>
  </ion-item>
</ion-footer>